#log {
	font-size: 2em;
	font-family: Georgia;
	background-color: #e6ffb3;
	height: 3em;
}

#keyLog {
	font-size: .75em;
	font-family: Georgia;
	font-style: italic;
	padding-bottom: 1em;
}

#idx {
	font-size: .75em;
	font-family: Arial;
	padding-bottom: 1em;
}

#view div {
	float: left;
	width: 31px;
	height: 175px;
	background-color: #666666;
	margin-right: 1px
}

.touched {
	opacity: .3;
}

.released {
	opacity: .9;
}
