#hint {
	font-size: .55em;
	font-family: Helvetica;
	font-style: italic;
	font-weight: bold;
	padding-bottom: 1em;
}

#pitchLog {
	font-size: .62em;
	font-family: Georgia;
	font-style: italic;
	background-color: #666666;
	color: #ffffff;
	padding: 1em;
}

#msgLog {
	font-size: 2em;
	font-family: Georgia;
	background-color: #e6ffb3;
	height: 2em;
	padding: 1em;
}

#keyLog {
	font-size: .75em;
	font-family: Georgia;
	font-style: italic;
	padding: 1em;
}

#idx {
	font-size: .75em;
	font-family: Arial;
	padding-bottom: 1em;
}

#whites {
	width: 540px;
}

#whites div{
	float: left;
	width: 31px;
	height: 175px;
	background-color: #cccccc;
	margin-right: 1px
}

#darks {
	position: relative;
	left: -210px;
}

#blacks {
	position: relative;
	left: -240px;
}

#blacks div, #darks div{
	float: left;
	background-color: #cccccc;
	width: 31px;
	height: 175px;
	margin-right: 1px;
}

#blacks .dark, #darks .dark {
	height: 85px !important;
	background-color: #000000 !important;
}

#blacks .hidden, #darks .hidden {
	opacity: 0;
}

.touched {
	position: relative;
	top: 5px;
}

.released {
	position: relative;
	top: 0px;
}
